<div class="container">
  <div class="profile">
    <div class="profile__back">
      <a href="/">
        <div class="profile__back-btn"></div>
      </a>
    </div>
    <div class="profile__content">
      <div class="profile__avatar">
        <div class="profile__img">
          <p class="profile__label">Поменять аватар</p>
        </div>
        <h3 class="profile__name">Иван</h3>
      </div>
      <form class="send">
        <div class="profile__columns">
          {{> inputProfile type="password" name="oldPassword" label="Старый пароль" value="123456"}}
          {{> inputProfile type="password" name="newPassword" label="Новый пароль" value="123456789"}}
          {{> inputProfile type="password" name="newPassword" label="Повторите новый пароль" value="123456789"}}
        </div>
        <div class="profile__buttons">
          {{> button style="btn-primary" label="Сохранить" }}
        </div>
      </form>
    </div>
  </div>
</div>
