<div class="container">
  <div class="profile">
    <div class="profile__back">
      <a href="/">
        <div class="profile__back-btn"></div>
      </a>
    </div>
    <div class="profile__content">
      <div class="profile__avatar">
        <div class="profile__img">
          <span class="profile__label">Поменять аватар</span>
        </div>
        <div class="profile__name">Иван</div>
      </div>
      <div class="profile__columns">
        {{> inputProfile type="password" name="oldPassword" label="Старый пароль" value="123456"}}
        {{> inputProfile type="password" name="newPassword" label="Новый пароль" value="123456789"}}
        {{> inputProfile type="password" name="new-password" label="Повторите новый пароль" value="123456789"}}
      </div>
      <div class="profile__buttons">
        {{> button style="btn-primary" label="Сохранить" }}
      </div>
    </div>
  </div>
</div>
