<div class="container">
  <div class="chat">
    <div class="chat__sidebar">
      <div class="chat__sidebar-header">
        <div class="chat__sidebar-profile">
          <div class="chat__sidebar-profile-container">
            <a class="chat__sidebar-profile-link" href="/profile">
              <div class="chat__sidebar-profile-text">Профиль</div>
              <div class="chat__sidebar-profile-img"></div>
            </a>
          </div>
        </div>
        <div class="chat__sidebar-search">
          <input type="text" name="search" placeholder="Поиск" />
        </div>
      </div>
      <div class="chat__sidebar-items dialogs">
        <div class="dialog-item">
          <div class="dialog-content">
            <div class="dialog-avatar"></div>
            <div class="dialog-detail">
              <div class="dialog-name">Андрей</div>
              <div class="dialog-message">Изображение</div>
            </div>
          </div>
          <div class="dialog-info">
            <div class="dialog-date">10:49</div>
            <div class="dialog-count">2</div>
          </div>
        </div>
        <div class="dialog-item">
          <div class="dialog-content">
            <div class="dialog-avatar"></div>
            <div class="dialog-detail">
              <div class="dialog-name">Илья</div>
              <div class="dialog-message">
                Друзья, у меня для вас особенный выпуск новостей! Друзья, у меня
                для вас особенный выпуск новостей!
              </div>
            </div>
          </div>
          <div class="dialog-info">
            <div class="dialog-date">15:12</div>
            <div class="dialog-count">6</div>
          </div>
        </div>
        <div class="dialog-item active">
          <div class="dialog-content">
            <div class="dialog-avatar"></div>
            <div class="dialog-detail">
              <div class="dialog-name">Вадим</div>
              <div class="dialog-message">Вы: Круто!</div>
            </div>
          </div>
          <div class="dialog-info">
            <div class="dialog-date">Пт</div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat__list">
      <div class="chat__list-empty">
        Выберите чат чтобы отправить сообщение
      </div>
    </div>
  </div>
</div>