<div class="container">
  <div class="profile">
    <div class="profile__back">
      <a href="/">
        <div class="profile__back-btn"></div>
      </a>
    </div>
    <div class="profile__content">
      <div class="profile__avatar">
        <div class="profile__img">
          <p class="profile__label">Поменять аватар</p>
        </div>
        <h3 class="profile__name">Иван</h3>
      </div>
      <form class="send">
        <div class="profile__columns">
          {{> inputProfile type="email" name="email" label="Почта" value="pochta@yandex.ru"}}
          {{> inputProfile type="text" name="login" label="Логин" value="ivanivanov"}}
          {{> inputProfile type="text" name="first_name" label="Имя" value="Иван"}}
          {{> inputProfile type="text" name="second_name" label="Фамилия" value="Иванов"}}
          {{> inputProfile type="text" name="display_name" label="Имя в чате" value="Иван"}}
          {{> inputProfile type="tel" name="phone" label="Телефон" value="+7 (909) 967 30 30" style="input_lastChild"}}
        </div>
        <div class="profile__buttons">
          {{> button style="btn-primary" label="Сохранить" }}
        </div>
      </form>
    </div>
  </div>
</div>
