<div class="modal active">
  <div class="modal__container">
    <h3 class="modal__name {{nameStyle}}">{{name}}</h3>
    <form class="send">
      <div class="modal__input">
        {{> input fileText=fileText type=inputType name=inputName label=inputLabel errorText=inputError}}
      </div>
      <div class="modal__button">
        {{> button style="btn-primary" label=labelButton }}
      </div>
      {{#if errorLabel}}
          <div class="modal__error-label">{{errorLabel}}</div>
      {{/if}}
    </form>
  </div>
</div>
