<main>
  <ul>
    <li>
      <a href="/login">Логин</a>
    </li>
    <li>
      <a href="/registration">Регистрация</a>
    </li>
    <li>
      <a href="/chat">Выбрать чат</a>
    </li>
    <li>
      <a href="/chat-with-dialog">Чат</a>
    </li>
    <li>
      <a href="/page-404">404</a>
    </li>
    <li>
      <a href="/page-500">500</a>
    </li>
    <li>
      <a href="/profile">Профиль</a>
    </li>
    <li>
      <a href="/profile-change-data">Изменить данные</a>
    </li>
    <li>
      <a href="/profile-change-password">Изменить пароль</a>
    </li>
  </ul>
</main>
